.company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__paragraph {
    font-family: TTLakes, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }

  &__text {
    max-width: 312px;
    margin: 0 16px;

    @media (min-width: 768px) {
      margin: 0 24px;
    }

    @media (min-width: 1120px) {
      margin: 0 32px;
      max-width: 490px;
    }

    &--hidden {
      max-height: 110px;
      overflow: hidden;

      @media (min-width: 768px) {
        max-height: 125px;
      }

      @media (min-width: 1120px) {
        max-height: 143px;
      }
    }
  }

  &__button-more {
    background-color: transparent;
    border: none;
    font-family: TTLakes-Medium, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 0 16px 16px;
    cursor: pointer;
    outline: none;

    @media (min-width: 768px) {
      margin: 10px 16px 0 24px;
    }

    @media (min-width: 1120px) {
      margin: 10px 32px 0;
    }

    &:hover {
      transform: scale(1.1);
    }

    &::before {
      display: block;
      content: "";
      float: left;
      background-image: url("../img/expand.svg");
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
    }

    &--rotate {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__image {
    flex-grow: 1;
    max-width: 531px;
    max-height: 307px;
    min-height: 176px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      max-width: 360px;
      margin: 0 24px 32px 0;
    }

    @media (min-width: 1120px) {
      max-width: 531px;
      margin-bottom: 51px;
    }
  }

  &__cps-image {
    width: 100%;

    @media (min-width: 768px) {
      border-radius: 6px;
    }
  }
}
